
<html>
<head>
<title>Readspots</title>
<link rel="stylesheet" href="static/app.css" type="text/css" media="screen" charset="utf-8">

</head>
<body id="landing">

  <header>
  <img src="/static/readspots_logo4.png">
</header>

    <div class="connect-box">
      <a id="authorize" href="/auth/readmill"></a>
      <p>You’re one step away from uncovering photos and snapshots from places you spend time reading. Enable it by connecting your Readmill account.</p>
    </div>
</body>
</html>
